# fly.toml app configuration file generated for bookr-hub-landing on 2025-04-14T09:40:19+12:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bookr-hub-landing'
primary_region = 'syd'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1024mb'
  cpu_kind = 'shared'
  cpus = 1
